.img-circle {
    border-radius: 50%;
}
.text-desc {
    height: 100px;
    overflow: scroll;
    display: block;
}
.gap-2 {
    gap: 10px;
}
.btn-block {
    width: 160px;
    text-transform: initial;
    margin: 0 auto;
}